<a href="https://colab.research.google.com/github/Geetha3/Python-module-1/blob/master/python_class_on_24%2C25th_june.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#looping Statements: while, for



```
# This is formatted as code
while condition :
  body of loop
  loop index increment
else :  (optional)
  statement
```

In [ ]:
counter=0
while counter<3 :
  print('inside while loop')
  counter=counter+1
else :
  print('inside the else')

inside while loop
inside while loop
inside while loop
inside the else

In [ ]:
n=0
while n<10:
  print(n)
  n=n+1
print('outside the while')

0
1
2
3
4
5
6
7
8
9
outside the while

#python program to check given number is palindrome or not

In [ ]:
n=int(input('Enter a number to check whether its a palindrome'))
temp=n
rev=0
while (n>0):
  digit=n%10
  rev=rev*10+digit
  n=n//10

if (temp==rev):
  print(' The given number is palindrome!')  
else:
  print('The given number is not  palindrome')

Enter a number to check whether its a palindrome232
 The given number is palindrome!

#python program to reverse a number

In [ ]:
n=int(input('Enter a number to check whether its a palindrome'))
temp=n
rev=0
while (n>0):
  digit=n%10
  rev=rev*10+digit
  n=n//10
print(' Reverse of a given number is', rev)

Enter a number to check whether its a palindrome1234
 Reverse of a given number is 4321

#python program to finding divisor of a number

In [ ]:
x=int(input('Enter a number to find the devisors of it'))
i=2
while(i<=x//2):
  if x%i==0:
    print(i)
  i=i+1
else:
  print('are the divisor of given number ')

Enter a number to find the devisors of it500
2
4
5
10
20
25
50
100
125
250
are the divisor of given number



```
# This is for loop Structure
for val in sequence :
  body of loop
else :
  statements
```

In [ ]:
friends=['Raju','Ravi','Ram']
for friend in friends:
  print('Happy New Year :',friend)
print('Done')

Happy New Year : Raju
Happy New Year : Ravi
Happy New Year : Ram
Done

#python program to print multiplication table

In [ ]:
n=int(input('Enter a number to display its multiplication table'))
for i in range (1,11):
   print(n,'X',i,'=',n*i)

Enter a number to display its multiplication table5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#range(start,end,step)

#range(start,end,step)

In [ ]:
x=range(5)
print(type(x),x)
print(x)

x= list(range(5))
print(type(x),x)

<class 'range'> range(0, 5)
range(0, 5)
<class 'list'> [0, 1, 2, 3, 4]

In [ ]:
for i in range(5,10):
  print(i,end=' ')

5 6 7 8 9

## **Class on 25th june**

In [4]:
for i in range(5,20,3):
  print(i,end=' ')

5 8 11 14 17

In [6]:
#python program to generate all odd number till 50

In [7]:
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The number of even numbers:",count_even)
print("The number of odd numbers",count_odd)

SyntaxError: ignored

In [8]:
for i in range(-5,10,2):
  print(i,end=' ')

-5 -3 -1 1 3 5 7 9

In [9]:
for i in range(-5,-20,-2):
  print(i,end=' ')

-5 -7 -9 -11 -13 -15 -17 -19

In [10]:
for i in range(5,10,0.5):
  print(i,end=' ')

TypeError: ignored

In [11]:
for char in 'GITAM UNIVERSITY':
  print(char)

G
I
T
A
M

U
N
I
V
E
R
S
I
T
Y

In [ ]:
#python program to display sum and average of given number

## #python program to display sum and average of given number

In [12]:
number=[10,20,30,40]
sum=0
for num in number:
  sum=sum+num
avg=sum/len(number)
print('sum=',sum)
print('Average=',avg)

sum= 100
Average= 25.0

Python program to check given number is prime or not

In [18]:
def prime(n):
  for i in range(2,n//2+1):
    if (n%i==0) :
      return 'Not Prime'
  else:
     return 'Prime'

prime(5)

prime(10)

'Not Prime'

# Python program to generate all prime number between n1 and n2

In [19]:
n1=int(input("Enter n1: "))
n2=int(input("Enter n2: "))
for num in range(n1, n2+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

Enter n1: 1
Enter n2: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#Python program to add 2 matrix

In [21]:
m1=[[1,2,3],
    [4,5,6],
    [7,8,9]]

m2=[[9,8,7],
    [6,5,4],
    [3,2,1]]

result=[[0,0,0],
       [0,0,0],
       [0,0,0]]
for i in range(len(m1)):
   for j in range(len(m1[0]))  :
     result[i][j]=m1[i][j]+m2[i][j]  

for r in result:
  print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

#Python program to subtract 2 matrix

In [22]:
m1=[[11,22,33], 
    [44,55,66],
    [77,88,99]]

m2=[[1,2,3],
    [4,5,6],
    [7,8,9]]

result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(m1)) :
  for j in range(len(m1[0])) :
    result[i][j]=m1[i][j]-m2[i][j]

for r in result:
  print(r)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

# Python program to multiply 2 matrix

In [31]:
X=[[1,2,3],
    [4,5,6],
    [7,8,9]]
Y=[[9,8,7],
    [6,5,4],
    [3,2,1]]

result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(X)):
   for j in range(len(Y[0])):
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

SyntaxError: ignored